@import url('https://fonts.cdnfonts.com/css/gotham-6');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');


:root {
  --bg-color: #3A3A3A;
  --amarelo-padrao: #e7bf46;
}

.main{
  font-family: 'Gotham', sans-serif;
  background-image: url('./assets/bg.svg');  
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.imageLogin{
  width: 15%;
}

.title{
  color: var(--amarelo-padrao);
  font-size: 50px;
  font-weight: 700;
}

.subtitle{
  color: var(--amarelo-padrao);
  font-size: 24px;
  font-weight: 700;
  margin-top: .5em;
  margin-bottom: .7em
}

.btn{
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 300; 
  background-color: #F8CE41;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  width: 16em;
  cursor: pointer;
}

.btn_login {
  padding: 0.5em 1em;
  font-weight: 700;
  width:7em;
  height: 3em;
}

.btn_cadastro {
  padding: 0.5em 1em;
  font-weight: 700;
  font-size: 25px;
  width:11em;
  height: 2.7em;
  margin-top: 1em;
  font-weight: 900;
}

.inputLogin{
  font-family: 'Inter', sans-serif;
  font-size: 26px;
  font-weight: 300; 
  background-color: #5C5C5C;
  color: #dddddd;
  padding: 0.5em 0;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: .5em;
  height: 1.5em;
  margin: .25em 0 .25em 0;
}

.inputSenha{
   font-family: 'Inter', sans-serif;
  font-size: 26px;
  font-weight: 300; 
  background-color: #5C5C5C;
  color: #dddddd;
  padding: 0.5em 0;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: .5em;
  height: 1.5em;
  margin: .25em 0 .25em 0;
}

.btn:hover{
  background-color: #ffffff;
  border-color: black;
  transition: .5s;

}

::placeholder {
  color: #8F8F8F;
  opacity: 1; 
}
